.card {
  color: black;
  width: 250px;
  border: 1px solid rgba(116, 116, 116, 0.555);
  padding: 10px;
  border-radius: 20px;
}
.card a {
  color: #4abeff;
  text-decoration: none;
}
.cardconatiner {
  color: black;
}
#singleimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
