.specialimage img {
  position: absolute;
}
.specialimage {
  margin-top: 60px;
}
.specialimage p {
  position: relative;
  left: 800px;
  color: azure;
  top: 100px;
}
.specialright {
  position: absolute;
  text-align: center;
}
#orange {
  background-color: #ff8957;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
}
#sale {
  font-size: 41px;
  color: #4abeff;
  font-weight: 700;
}
.specialbottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}
